.post_box {
    width: 350px;
    height: 100px;
    border: 2px solid rgba(38, 38, 148, 0.808);
    overflow: auto;
    resize: none;
    border-radius: 10px;
    background-color: rgba(57, 183, 221, 0.61);
    color: rgb(7, 11, 48);
}