.container {
    background-color: rgba(128, 128, 128, 0.151);
}

.post_box {
    padding: 5px 10px;
    width: 350px;
    max-height: 250px;
    border: 2px solid rgba(38, 38, 148, 0.808);
    overflow: auto;
    resize: none;
    border-radius: 6px;
    background-color: rgba(57, 183, 221, 0.61);
    color: rgb(7, 11, 48);
}

.container form {
    margin: 0px 0px 10px 60px;
    padding-top: 20px;
}

.like_bar {
    margin-left: 140px;
}

.userinfo {
    margin: 20px 0px 20px 10px;
    border-bottom: 3px solid grey;
    font-weight: bold;
}