<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bright Ideas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar narbar-expand-lg navbar-dark bg-dark">
                <a href="/bright_ideas" class="navbar-brand disabled">Hi {{user.alias}}!</a>
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="list-group">
                        {% for category, message in messages %}
                            <li class="list-group-item list-group-item-{{category}}">{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form action="/post_idea" method="POST">
            <div class="form-row">
                <div class="form-group col-sm-9">
                    <input type="text" class="form-control" name="idea" placeholder="Post your great idea here...">
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-info" value="Idea!">
                </div>
            </div>
        </form>
        {% for post in posts %}
            <div class="row">
                <div class="col-sm-2">
                    {% for user in all_users %}
                        {% if user.id == post.author %}
                            <p><a href="/users/{{user.id}}">{{user.alias}}</a> says: </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="post_box col-sm-6">
                    {{post.content}}
                </div>
            </div>
            <div class="row like_bar">
                <div class="col-sm-4">
                    {% if user.id == post.author %}
                        <a href="/delete/{{post.id}}">Delete</a>
                    {% endif %}
                    {% if user.id != post.author %}
                        <a href="/like/{{post.id}}">Like</a>
                    {% endif %}
                </div>
        <!-- Working on getting the counter to work... -->
                <div class="col-sm-5">
                    <p><a href="/bright_ideas/{{post.id}}">Placeholder</a> like this idea.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>